.header {
  margin-top: -1px;
  position: fixed;
  width: 100%;
  max-width: 1440px;
  height: 99px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  background: #fafbfc;
  padding: 0px 104px;
  z-index: 9999;
  box-shadow: 0px 4px 40px 0px rgba(127, 181, 230, 0.12);
}
.btnContainer a {
  text-decoration: none;
}

.hamburger {
  display: none;
}
@media (max-width: 1024px) {
  .header {
    width: 100%;
    padding: 0px 50px;
    margin-top: -3px;
  }
}
@media (max-width: 940px) {
  .header {
    padding: 0px 50px;
  }
  .btnContainer {
    display: none;
  }
  .hamburger {
    display: block;
    height: 40px;
  }
}
@media (max-width: 450px) {
  .header {
    padding: 0px 30px;
  }
}
@media (max-width: 360px) {
  .header {
    padding: 0px 20px;
  }
}
@media (max-width: 320px) {
  .header {
    padding: 0px 20px;
  }
}
