.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
.btnContainer a {
  text-decoration: none;
}

.hamburger {
  display: none;
}
@media (max-width: 940px) {
  .header {
    position: relative;
    z-index: 99;
    /* background-color: #fff; */
    /* justify-content: flex-start; */
  }
  .btnContainer {
    display: none;
  }
  .hamburger {
    /* border: 2px solid red; */
    display: block;
    height: 40px;
  }
  /* .hamburger svg:first-child {
    width: 25px;
    height: 25px;
  } */
  .hamburger svg:last-child {
    width: 18px;
    height: 18px;
  }
}
