nav > ul {
  list-style: none;
  display: flex;
  column-gap: 48px;
}
nav li {
  color: #333437;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.contactLink {
  display: none;
}
nav li a {
  text-decoration: none;
  color: #333437;
}

nav :global(.active) {
  color: #00703c;
  border-bottom: 1px solid #00603d;
  padding-bottom: 5px;
}

@keyframes moving {
  from {
    transform: translateX(100px);
    opacity: 0;
    /* margin-left: 120%; */
  }
  to {
    transform: translateX(0px);
    opacity: 1;
    /* margin-left: 0%; */
  }
}
@media (max-width: 940px) {
  nav {
    width: 100%;
    position: absolute;
    z-index: -1;
    /* left: 50%; */
  }
  .contactLink {
    display: block;
  }
  nav > ul.open {
    margin-left: 0%;
    animation: moving 0.3s ease-in;

    /* transform: translateX(0%); */
  }
  nav > ul {
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    padding: 400px 20px 30px 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: #eef8fc;
    margin-left: 120%;
  }
  nav > ul li {
    padding: 5px;
    font-size: 20px;
    line-height: 48px;
    font-weight: 600;
  }
}
