.testimonial {
  padding: 0px;
  width: 100%;
}
.testimonial h3 {
  color: #005cb7;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
}
.testimonailContent {
  width: 100%;
  margin: 34px auto 0px;
  padding-bottom: 30px;
  background-color: #fff;
}

/* =============testimonialCard Styles ========== */
.testimonialCard {
  height: 480px;
  position: relative;
  list-style: none;
  height: auto;
  padding: 36px;
  text-align: center;
  margin-left: 10px;
  border-radius: 12px;
  background: #f6f7f9;
  box-shadow: 0px 4px 40px 0px rgba(127, 181, 230, 0.12);
}

.itemClass {
  margin-right: 10px;
}
.itemClass:first-child {
  margin-right: 0px;
}
.itemClass:last-child {
  margin-left: -10px;
}

.testimonialCard > span {
  position: absolute;
  top: 35px;
  left: 35px;
}
.testimonialCard > .imageDiv {
  width: 80px;
  height: 80px;
  border-radius: 1998px;
  background-color: #333437;
  margin: 0 auto;
  color: #fff;
  font-size: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonialCard > .rating {
  margin-top: 20px;
}
.testimonialCard > h4 {
  color: #333437;
  margin-top: 10px;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.testimonialCard > h6 {
  color: #67696e;
  font-family: "Roboto", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  margin-top: 5px;
}
.testimonialCard hr {
  width: 40%;
  margin: 20px auto 0px;
}
.testimonialCard p {
  color: #67696e;
  text-align: center;
  font-family: "Roboto", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
@media (max-width: 940px) {
  .itemClass {
    margin-right: 0px;
  }
  .itemClass:first-child {
    margin-right: 0px;
  }
  .itemClass:last-child {
    margin-left: 0px;
    margin-right: 0px;
  }
  .testimonialCard {
    border-radius: 5.35px;
  }
}
@media (max-width: 450px) {
  .testimonailContent {
    padding-right: 10px;
  }
  .testimonialCard {
    height: 400px;
    padding: 24px 10px;
  }
  .testimonialCard > .imageDiv {
    width: 54px;
    height: 54px;
  }
  .testimonialCard > span {
    margin-top: 0px;
    left: 16px;
  }
  .testimonialCard > span svg {
    width: 9px;
    height: 13px;
  }
  .rating span svg {
    width: 16px;
    height: 16px;
  }
  .testimonialCard > h4 {
    font-size: 16px;
    line-height: 21px;
  }
  .testimonialCard > h6 {
    font-size: 13px;
  }
  .testimonialCard p {
    font-size: 14px;
    line-height: 21px;
    margin-top: 40px;
  }
}
